extends ../_component/layout/base

block awesome-content
  include ../_component/header/header
  include ../_component/buton/buton
  include ../_component/text/text
  include ../_component/skill/skill
  include ../_component/contact/contact
  //- include ../_component/grid/grid
