$icomoon-font-family: "cv" !default;
$icomoon-font-path: "/asset/font" !default;

$cv-chevron-down2: "\e902";
$cv-chevron-down1: "\e901";
$cv-chevron-down: "\e900";
$cv-tiktok: "\e909";
$cv-instagram: "\e903";
$cv-linkedin: "\e904";
$cv-codewars: "\e905";
$cv-github: "\e906";
$cv-whatsapp: "\e907";
$cv-facebook: "\e908";
$cv-youtube: "\e90a";

