$icomoon-font-family: "cv" !default;
$icomoon-font-path: "/asset/font" !default;

$cv-tiktok: "\e902";
$cv-instagram: "\e903";
$cv-linkedin: "\e904";
$cv-codewars: "\e905";
$cv-github: "\e906";
$cv-whatsapp: "\e907";
$cv-facebook: "\e908";
$cv-youtube: "\e900";
$cv-instagram1: "\e909";
$cv-linkedin1: "\e90a";
$cv-github1: "\e90b";
$cv-whatsapp1: "\e90c";
$cv-facebook1: "\e90d";
$cv-youtube1: "\e901";




// $cv-cup-half: "\e908";
// $cv-medal: "\e909";
// $cv-trophy-2: "\e90a";
// $cv-trophy-1: "\e90b";
// $cv-trophy-3: "\e90c";
// $cv-cup-full: "\e90d";
// $cv-piggy-bank: "\e914";
// $cv-arrow-down: "\e901";
// $cv-email: "\e902";
// $cv-github: "\e903";
// $cv-cross: "\e904";
// $cv-menu: "\e905";
// $cv-home: "\e906";
// $cv-youtube: "\e907";
