.dropdown {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem; // 16px
  width: 282px;
  grid-column: 1/-1;
  padding: 8px;
}
&__box {
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 282px;
  background-color: green;
}

// &__icon {
//   background-color: green;
// }
