- 
  var { sectionTitle, jobList } = data.content.experience
//- pre= JSON.stringify(data.content.experience, null, 2)
include ../header/header
.dropdown
  each context in jobList
    .dropdown__icon= context.logo 
    .dropdown__box= context.jobTitle
    .dropdown__box= context.companyName
    .dropdown__arrow
      input.chevron(type="radio" class="cv-chevron-down1")
      .chevron= context.moreDetailes
