// mobil
.grid {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  width: 320px;
  gap: 16px;
  justify-content: center;

  &__row {
    &-1 {
      grid-column: 1/-1;
      padding: 8px 0;
      // background-color: indigo;  
    }

    &-2 {
      grid-column: span 2;
      height: 2rem;
      background-color: darkblue;
    }

    &-3 {
      height: 2rem;
      background-color: aquamarine;
      grid-column: span 3;
    }

    &-4 {
      height: 2rem;
      background-color: khaki;
      grid-column: span 4;
    }
  }

  // am mai si eu greseala asta de doua ori
  // media se scrie aici, in react Mariane
}

// tableta
@media screen and (min-width: 1024px) {
  .grid {
    // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 768px;
    grid-template-columns: repeat(8, 1fr);
  }
}

// desktop
@media screen and (min-width: 1440px) {
  .grid {
    // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 1200px;
    grid-template-columns: repeat(12, 1fr);
  }
}
