.grid 
  .grid__row-1 asdadsasdasdasd
  .grid__row-1 asdadsasdasdasd
  .grid__row-1 asdadsasdasdasd
  .grid__row-1 asdadsasdasdasd
  .grid__row-1 asdadsasdasdasd
  
  .grid__row-1 asdadsasdasdasd
  .grid__row-1 asdadsasdasdasd
  .grid__row-1 asdadsasdasdasd
  .grid__row-1 asdadsasdasdasd
  .grid__row-1 asdadsasdasdasd
  .grid__row-1 asdadsasdasdasd
  .grid__row-1 asdadsasdasdasd
  